.wrapper {
  padding: 20px;
}

.css-hiot3i-MuiPaper-root-MuiAppBar-root {
  border-radius: 15;
    margin: '50px 0';
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    align-items: 'center';
}

.toolBar{
  display: 'flex';
  justify-content: 'flex-end';
  width: '400px';
}

.navicons {
  display: 'flex';
  flex-direction: 'column';
}