.css-1k7cwwr-MuiChip-root{
    margin: 5px;
}

.css-h93ljk-MuiTypography-root {
    margin-top: 15px;
}

.css-r40f8v-MuiTypography-root{
    margin-bottom: 15px;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root{
    display: block;
}

